@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.containerHome {
  background-image: linear-gradient(#13151edb, #10121af5),
    url("../assets/officina.jpg");
  background-size: cover;
}

.ImgPerfil {
  filter: drop-shadow(5px 0px 10px #09544b);
  border-radius: 0 0 150px 50px;
  border-bottom: 15px solid #09564d50;
}

.ball {
  animation: moveBall 5s infinite alternate; /* Agrega 'alternate' para que la animaci칩n se reproduzca hacia adelante y hacia atr치s */
  animation-timing-function: linear;
}
@keyframes moveBall {
  0% {
    position: relative;
    top: 50px;
    left: 20%;
  }
  50% {
    transform: scale(2);
  }
  100% {
    position: relative;
    top: 50px;
    left: 70%;
  }
}

.ballMovile {
  animation: ballMovile 5s infinite alternate; /* Agrega 'alternate' para que la animaci칩n se reproduzca hacia adelante y hacia atr치s */
  animation-timing-function: linear;
}
@keyframes ballMovile {
  0% {
    position: relative;
    left: 0;
  }
  50% {
    transform: scale(5);
  }
  100% {
    position: relative;
    left: 50%;
  }
}

.textShadow {
  text-shadow: 3px 3px 20px rgb(70, 88, 156);
}
.Title {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
}
